.banner {
    color: rgb(251, 253, 255);
    object-fit: contain;
    height: 500px;
    padding-top:90px;
    margin-bottom:50px;
}

.banner__contents {
  margin-left: 30px;
  padding-top:50px;
  height:400px;
}

.banner__title {
  font-size: 2rem;
  font-weight:900;
  padding-bottom: 1rem;
  margin-bottom:20px;
}

.banner__description {
    width: 45rem;
    line-height: 1.8;
    padding-top:1rem;
    font-size: 0.9rem;
    max-width:360px;
    height:90px;
}

.banner__button {
  cursor: pointer;
  color:#fff;
  outline: none;
  border:none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}

.banner__button:hover {
    color: #000;
    background:#e6e6e6;
    transition: all 0.2s;
}

.banner--fadeBottom {
    height: 7.4rem;
    /* position: relative; */
    left:-40px;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,061),
        #111
    );
    background-size:cover;
}